/**
 * Make toolbar & sidebar text & icons white
 */

:root {
  --toolbar-color: rgb(255, 255, 255) !important;
  --lwt-toolbarbutton-icon-fill: rgb(255, 255, 255) !important;
  --toolbarbutton-icon-fill: rgb(255, 255, 255) !important;
}

:root[lwt-toolbar-field-brighttext] {
  --lwt-popup-brighttext-url-color: #7ac1ff !important;
}

#urlbar-container {
  --urlbar-container-height: 36px !important;
}

#urlbar {
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 34px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: calc(var(--urlbar-toolbar-height) + 2px) !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background {
  border: 1px solid var(--toolbar-field-border-color) !important;
}


#sidebar-switcher-target,
toolbarbutton.close-icon {
  color: rgb(255, 255, 255) !important;
}

/**
 * Make sidebar background the same as toolbar's
 */

#sidebar-box {
  --sidebar-background-color: var(--toolbar-bgcolor) !important;
}

#sidebar-header {
  border: none !important;
}

#sidebar-splitter {
  border-color: var(--toolbar-bgcolor) !important;
}

/**
 * Unify paddings around toolbars so the contents line up
 */

/* New selector */
#navigator-toolbox,
/* Old selector */
#titlebar {
  height: 40px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

#TabsToolbar > .toolbar-items {
  padding-right: 3px !important;
  padding-left: 12px !important;
}

#TabsToolbar[inFullscreen="true"] > .toolbar-items {
  padding-left: 4px !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  padding: 2px 3px 2px 4px !important;
}

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
}

:root:not([uidensity="compact"]) #PanelUI-menu-button {
  padding: 0 2px !important;
}

toolbarseparator {
  box-shadow: 0 0 0 0 #fff !important;
}

/* Hide List all Tabs button */
#alltabs-button {
  display: none !important;
}

/**
 * Minimal tab dividers
 */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforehovered]::after,
.tabbrowser-tab[multiselected]::after,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[before-multiselected]::after {
  visibility: hidden !important;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  visibility: hidden !important;
}

/**
 * Replace favicon on tabs with close button on hover
 */

.tabbrowser-tab:not(:hover) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: block !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned]):hover .tab-icon-pending {
  display: none !important;
}

.tabbrowser-tab:hover .tab-throbber,
.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab:hover .tab-icon-pending,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover .tab-icon-overlay,
.tabbrowser-tab:hover .tab-label-container,
.tabbrowser-tab:hover .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
  margin-right: 4px !important;
  margin-left: -2px !important;
}

/**
 * Remove circle, background and padding from back button
 */

/* Remove pre-padding */
:root:not([uidensity="compact"]) #back-button {
  padding: 0 2px !important;
  border-radius: unset !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border: unset !important;
  background-color: unset !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/* Hover and active states to mimic other buttons */
:root:not([uidensity="compact"]) #back-button:hover:not([disabled]) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

:root:not([uidensity="compact"]) #back-button:active:not([disabled]) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

:root:not([customizing]) #back-button[disabled="true"] {
  fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  opacity: 0.4 !important;
}

:root:not([customizing]) #back-button:-moz-window-inactive[disabled="true"] {
  opacity: 0.5 !important;
}

/**
 * Make padlock green for secure sites, yellow for mixed content sites and red for insecure sites
 */

#identity-box[pageproxystate="valid"].verifiedDomain > #identity-icon,
#identity-box[pageproxystate="valid"].verifiedIdentity > #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked > #identity-icon,
#identity-popup[connection^="secure"] .identity-popup-security-connection,
#identity-popup[connection="extension"] .identity-popup-security-connection {
  fill: #30e60b !important;
  fill-opacity: 1 !important;
}

#identity-box[pageproxystate="valid"].weakCipher > #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContent > #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked > #identity-icon,
#identity-box[pageproxystate="valid"].certUserOverridden > #identity-icon,
#identity-box[pageproxystate="valid"].certErrorPage > #identity-icon,
#identity-popup[connection="secure-cert-user-overridden"] .identity-popup-security-connection,
#identity-popup[connection="cert-error-page"] .identity-popup-security-connection {
  fill: #ffbf00 !important;
  fill-opacity: 0.9 !important;
}

#identity-box[pageproxystate="valid"].notSecure > #identity-icon,
#identity-box[pageproxystate="valid"].insecureLoginForms > #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent > #identity-icon,
.identity-popup-security-connection {
  fill: #d74345 !important;
  fill-opacity: 0.9 !important;
}

/**
 * Hide URLbar history dropdown button
 */

.urlbar-history-dropmarker {
  display: none !important;
}

/**
 * Container Label in Awesomebar
 */

#userContext-icons {
  position: relative !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 3px 8px 3px 10px !important;
  color: var(--identity-tab-color) !important;
}

#userContext-icons:not([hidden]) {
  display: flex !important;
}

#userContext-icons > * {
  z-index: 1 !important;
  color: inherit !important;
  fill: currentColor !important;
}

#userContext-label {
  margin: 0 !important;
}

#userContext-label + #userContext-indicator {
  margin-inline-start: 6px !important;
}

#userContext-icons::before {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: var(--identity-tab-color) !important;
  border-radius: 99px !important;
  content: '' !important;
  opacity: 0.1 !important;
}

/* Remove separator after container label */
#page-action-buttons > :not([hidden]):not(toolbartabstop) ~ #pageActionSeparator {
  display: none !important;
}

/**
 * Hide unnecessary stuff from Awesomebar 3-dot menu
 */

#pageActionPanelMultiView #pageAction-panel-bookmark,
#pageActionPanelMultiView #pageAction-panel-pinTab,
#pageActionPanelMultiView #pageAction-panel-bookmarkSeparator,
#pageActionPanelMultiView #pageAction-panel-copyURL,
#pageActionPanelMultiView #pageAction-panel-emailLink {
  display: none !important;
}

/**
 * Hide "Customize Toolbar..." button from "More tools..." menu
 */

#overflowMenu-customize-button {
  display: none !important;
}

/**
 * Fix inlined bookmarks
 */

#PlacesToolbarItems {
  display: flex !important;
  align-items: center !important;
  contain: content !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: var(--toolbarbutton-inner-padding) !important;
}

toolbarbutton.bookmark-item[container] {
  padding: 5px 6px 4px !important;
  list-style: none;
  font-size: 1.5rem;
}

#bookmarks-toolbar-placeholder > .toolbarbutton-icon,
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]) {
  display: none !important;
}

#PlacesToolbarItems toolbarseparator {
  position: relative !important;
  left: 2px !important;
  margin: var(--toolbarbutton-inner-padding) !important;
}

#personal-bookmarks,
#PlacesToolbar,
#PlacesToolbar > hbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/**
 * Make Flexible Space take up less space
 */

#nav-bar toolbarpaletteitem[id^="wrapper-customizableui-special-spring"],
#nav-bar toolbarspring {
  -moz-box-flex: 20 !important;
}

/**
 * Hide duplicate window controls
 */

#nav-bar .titlebar-buttonbox-container {
  display: none !important;
}

/**
 * Hide tab-bar, move navbar in it's place
 */

#TabsToolbar > .toolbar-items {
  display: none !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  margin-top: -40px !important;
  margin-left: 72px !important;
  background: none !important;
}

#nav-bar[inFullscreen="true"] {
  margin-left: 0 !important;
}

/* Hide navbar border-bottom */
#navigator-toolbox {
  border-bottom: none !important;
}

/* Fix window controls positioning */
#TabsToolbar {
  display: flex !important;
  height: 41px !important;
  align-items: center !important;
  justify-content: space-between !important;
  background: var(--toolbar-bgcolor) !important;
}

#navigator-toolbox:-moz-lwtheme,
#navigator-toolbox:-moz-window-inactive:-moz-lwtheme {
  background-color: var(--toolbar-bgcolor) !important;
}

#urlbar-container[breakout] {
  min-height: var(--urlbar-container-height) !important;
}

.titlebar-buttonbox-container,
#titlebar-secondary-buttonbox {
  display: inherit !important;
}

/* Make it possible to click through incognito icon */
/* #titlebar-secondary-buttonbox, */
/* .private-browsing-indicator { */
/*   position: relative !important; */
/*   top: 1px !important; */
/*   right: 1px !important; */
/*   pointer-events: none !important; */
/* } */

/* New selector */
#TabsToolbar .private-browsing-indicator-with-label,
/* Old selector */
#private-browsing-indicator-with-label {
  position: relative !important;
  top: 1px !important;
  right: 2px !important;
  order: 2 !important;
  pointer-events: none !important;
  z-index: 1 !important;
}

/* New selector */
#TabsToolbar .private-browsing-indicator-with-label label,
/* Old selector */
#private-browsing-indicator-with-label label {
  display: none !important;
}

/* New selector */
#TabsToolbar .private-browsing-indicator-with-label image,
/* Old selector */
.private-browsing-indicator-icon {
  width: 24px !important;
  height: 24px !important;
}

/* Hide the menu icon in incognito */
[privatebrowsingmode] #PanelUI-menu-button image {
  z-index: -1 !important;
}

/* .private-browsing-indicator { */
/*   top: 0 !important; */
/*   right: 2px !important; */
/*   order: 1 !important; */
/* } */

/**
 * Dark URL preview
 */

#statuspanel #statuspanel-label {
  border-color: var(--panel-separator-color) !important;
  background: var(--arrowpanel-background) !important;
  /* color: rgba(var(--lwt-toolbar-field-color, black), 0.8) !important; */
  color: rgba(var(--toolbar-color), 0.8) !important;
}

/**
 * Dark dialogs
 */

.tabModalBackground,
tabmodalprompt {
  background: rgba(0, 0, 0, 0.7) !important;
}

.paymentDialogContainerFrame,
.tabmodalprompt-mainContainer,
.tabmodalprompt-buttonContainer {
  background: var(--toolbar-bgcolor) !important;
}

.paymentDialogContainerFrame,
.tabmodalprompt-mainContainer {
  border: none !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 8px 16px -6px rgba(0, 0, 0, 0.75) !important;
  color: var(--toolbar-color) !important;
}

tabmodalprompt > spacer:first-of-type {
  flex: 1 !important;
}

tabmodalprompt > spacer:last-of-type {
  flex: 50% !important;
}

.tabmodalprompt-mainContainer {
  min-width: 400px !important;
}

.tabmodalprompt-infoContainer {
  display: flex;
}

.tabmodalprompt-topContainer {
  padding: 40px 32px !important;
}

.tabmodalprompt-buttonContainer {
  padding: 12px 32px !important;
}

.infoBody {
  white-space: pre-line !important;
}

.tabmodalprompt-buttonContainer > button {
  padding: 8px 16px 7px !important;
  border: solid 1px var(--toolbar-color) !important;
  background: transparent !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  color: var(--toolbar-color) !important;
  cursor: pointer !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  transition: background 0.15s !important;
}

.tabmodalprompt-buttonContainer > button:hover {
  background: var(--toolbarbutton-hover-background) !important;
}

.tabmodalprompt-buttonContainer > button[default="true"] {
  border-color: var(--in-content-primary-button-background) !important;
  background: var(--in-content-primary-button-background) !important;
  color: #fff !important;
}

.tabmodalprompt-buttonContainer > button[default="true"]:hover {
  border-color: var(--in-content-primary-button-background-hover) !important;
  background: var(--in-content-primary-button-background-hover) !important;
}

/**
 * Context menu
 */

/* Remove navigation */
#context-navigation,
#context-sep-navigation {
  display: none !important;
}

/* Remove "Save Page As..." */
#context-savepage {
  display: none !important;
}

/* Remove "Send Page to Device" */
#context-sendpagetodevice,
#context-sep-sendpagetodevice {
  display: none !important;
}

/* Remove "Select All" */
#context-selectall {
  display: none !important;
}

/* Remove "Open Link in New Window" */
#context-openlink {
  display: none !important;
}

/* Remove "Bookmark this Link" */
#context-bookmarklink {
  display: none !important;
}

/* Remove "Send Link to Device" */
#context-sendlinktodevice,
#context-sep-sendlinktodevice {
  display: none !important;
}

/* Remove "View Background Image" */
#context-viewbgimage,
#context-sep-viewbgimage {
  display: none !important;
}

/* Remove "Paste" & "View Source" separators */
#context-sep-paste,
#context-sep-viewsource {
  display: none !important;
}

/* Remove "Check Spelling" */
#spell-check-enabled,
#spell-separator {
  display: none !important;
}

/* Remove "Email Video..." */
#context-sendvideo {
  display: none !important;
}

/* Remove "Email Image..." */
#context-sendimage {
  display: none !important;
}

/* Remove "Set As Desktop Background..." */
#context-setDesktopBackground {
  display: none !important;
}

/* Make "Inspect Element" always the last item */
#context-inspect,
#inspect-separator {
  -moz-box-ordinal-group: 2 !important;
}

#treestyletab_piro_sakura_ne_jp-browser-action {
  --white-treestyle-tabs-2x: url("data:image/svg+xml,%3C%21--%20This%20Source%20Code%20Form%20is%20subject%20to%20the%20terms%20of%20the%20Mozilla%20Public%0D%0A%20%20%20-%20License%2C%20v.%202.0.%20If%20a%20copy%20of%20the%20MPL%20was%20not%20distributed%20with%20this%0D%0A%20%20%20-%20file%2C%20You%20can%20obtain%20one%20at%20http%3A//mozilla.org/MPL/2.0/.%20--%3E%0D%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3Cstyle%3E%0D%0A%09g%3Atarget%20%7B%0D%0A%09%09fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0D%0A%09%09fill-rule%3A%20evenodd%3B%0D%0A%09%7D%0D%0A%09g%3Anot%28%23default%29%3Anot%28%3Atarget%29%2C%0D%0A%09g%3Atarget%20%7E%20%23default%20%7B%0D%0A%09%09display%3A%20none%3B%0D%0A%09%7D%0D%0A%3C/style%3E%0D%0A%3Csymbol%20id%3D%22icon-32%22%3E%0D%0A%09%3Cpath%20d%3D%22M26%2C2H6C3.8%2C2%2C2%2C3.8%2C2%2C6v20c0%2C2.2%2C1.8%2C4%2C4%2C4h20c2.2%2C0%2C4-1.8%2C4-4V6C30%2C3.8%2C28.2%2C2%2C26%2C2z%20M12%2C20%0D%0A%09%09c-0.552%2C0-1-0.447-1-1v-6l16%2C0v7H12z%20M5%2C6c0-0.542%2C0.458-1%2C1-1h20c0.542%2C0%2C1%2C0.458%2C1%2C1v6.012l-21%2C0V12c-0.552%2C0-1-0.448-1-1V6z%0D%0A%09%09%20M26%2C27h-8c-0.553%2C0-1-0.447-1-1v-5.013h10V26C27%2C26.542%2C26.542%2C27%2C26%2C27z%22/%3E%0D%0A%09%3Cpath%20d%3D%22M10%2C8.5C10%2C9.325%2C9.325%2C10%2C8.5%2C10S7%2C9.325%2C7%2C8.5S7.675%2C7%2C8.5%2C7S10%2C7.675%2C10%2C8.5z%22/%3E%0D%0A%09%3Cpath%20d%3D%22M16%2C16.5c0%2C0.825-0.675%2C1.5-1.5%2C1.5S13%2C17.325%2C13%2C16.5s0.675-1.5%2C1.5-1.5S16%2C15.675%2C16%2C16.5z%22/%3E%0D%0A%09%3Cpath%20d%3D%22M22%2C23.5c0%2C0.825-0.675%2C1.5-1.5%2C1.5S19%2C24.325%2C19%2C23.5s0.675-1.5%2C1.5-1.5S22%2C22.675%2C22%2C23.5z%22/%3E%0D%0A%3C/symbol%3E%0D%0A%3Cg%20id%3D%22toolbar%22%20fill-opacity%3D%220.8%22%3E%0D%0A%09%3Cuse%20href%3D%22%23icon-32%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22default%22%20fill-opacity%3D%221%22%3E%0D%0A%09%3Cuse%20href%3D%22%23icon-32%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A#toolbar");
  --webextension-menuitem-image: var(--white-treestyle-tabs-2x) !important;
  --webextension-menuitem-image-2x: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image-light: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image-dark: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image-2x: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image-2x-light: var(--white-treestyle-tabs-2x) !important;
  --webextension-menupanel-image-2x-dark: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image-light: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image-dark: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image-2x: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image-2x-light: var(--white-treestyle-tabs-2x) !important;
  --webextension-toolbar-image-2x-dark: var(--white-treestyle-tabs-2x) !important;
}

/**
 * Windows titlebar
 * Uncomment this on windows
 */

/* #TabsToolbar {
  justify-content: flex-end !important;
}

.titlebar-buttonbox-container,
#titlebar-secondary-buttonbox {
  align-self: flex-start !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  margin-left: 0 !important;
  margin-right: 142px !important;
} */

/* History swipe animation custom color Firefox 111+ */

#historySwipeAnimationPreviousArrow,
#historySwipeAnimationNextArrow {
  --swipe-nav-icon-primary-color: #000 !important;
  --swipe-nav-icon-accent-color: #fff !important;
}

@media (-moz-content-prefers-color-scheme: dark) {
  #historySwipeAnimationPreviousArrow,
  #historySwipeAnimationNextArrow {
    --swipe-nav-icon-primary-color: #fff !important;
    --swipe-nav-icon-accent-color: #000 !important;
  }
}
